.title {
	margin-top: 20px;

	@media (min-width: $d1280) {
		margin-top: 30px;
	}

	&__text {
		font-size: 30px;
		color: $light-black;
		text-transform: uppercase;
		font-weight: 400;
		margin-top: 40px;

		@media (min-width: $dMin) {
			font-size: 36px;
		}
	}

	&__subtitle {
		font-size: 20px;
		color: $red;

		@media (min-width: $dMin) {
			font-size: 22px;
		}
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
	}

	&__tag {
		font-size: 15px;
		padding: 5px 13px;
		color: $light-black;
		background-color: $white;
		border: 1px solid #cecfd9;
		height: auto;
		margin-bottom: 9px;

		&:not(:last-child) {
			margin-right: 9px;
		}

		&--active {
			color: $white;
			background-color: $red;
			border: none;
		}
	}

	&--white {
		.title {
			&__text,
			&__subtitle {
				color: $white;
			}
		}
	}

	&--philosophy {
		margin: 63px 0 23px;

		@media (min-width: $dMin) {
			margin: 93px 0 53px;
		}
	}

	&--team {
		margin-top: 53px;

		@media (min-width: $dMin) {
			margin-top: 93px;
		}

		.title__text {
			margin-top: 23px;
			margin-bottom: 26px;

			@media (min-width: $dMin) {
				margin-top: 53px;
				margin-bottom: 0;
			}
		}
	}

	&--comments {
		margin-top: 93px;

		.title {
			&__text {
				margin-top: 53px;
				margin-bottom: 30px;
			}

			&__tag {
				padding: 11px 30px;

				&:not(:last-child) {
					margin-right: 16px;
				}
			}
		}
	}
}