include ../../components/container.pug
include offer.pug

mixin discount(data)
	.discount
		each item, index in data.offers
			if (index === data.offers.length - 1 && item.reverse === true)
				+offer(item, 'offer--reverse offer--last')
			else if (item.reverse)
				+offer(item, 'offer--reverse')
			else
				+offer(item)