include ../../components/button.pug
include ../../components/picture.pug

mixin article(data)
	.article
		if data.img
			+picture(data.img, 'article__img')
		.article__wrapper
			.article__tags= data.tag
			.article__title= data.title
			if data.desc
				.article__desc= data.desc
			.article__more
				+button(data.button, 'button--arrow article__button')
				.article__date= data.date