include article.pug
include ../../components/container.pug
include ../../partials/title.pug
include ../../components/button.pug

mixin services(data, mod)
	.services(class=mod)
		if data.title
			+title(data.title)
		+container('services__container')
			.services__articles
				- for (var i = 0; i < data.articles.length; i++) {
						if data.articles[i].size === 'xsmall'
							.article__xsmall-wrapper
								+article(data.articles[i])
								+article(data.articles[i+1])
								- i++
						else
							+article(data.articles[i])
				- }
		if data.button
			+button(data.button, 'button--arrow services__button')