.catalog {
	position: relative;
	z-index: 3;
	margin-top: 41px;

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__button {
		height: 45px;
		padding: 15px 36px;
		margin: 5px auto 44px;

		svg {
			width: 25px;
			height: 25px;
			fill: $white;
		}
	}

	.article {
		&:nth-child(5n-4) {
			background-color: $black-23;
		}

		&:nth-child(5n-3) {
			background-color: $gray-40;
		}

		&:nth-child(5n-2) {
			background-color: $gray-40;
		}

		&:nth-child(5n-1) {
			background-color: $blue;
		}

		&:nth-child(5n) {
			background-color: $gray-e2;

			.article {
				&__desc,
				&__title {
					color: $dark-gray;
				}

				&__date {
					color: $gray-tag-dark;
				}
			}
		}
	}
}