.services {
	padding: 15px 0;
	background-color: $light-gray;
	position: relative;

	@media (min-width: $dMin) {
		padding: 60px 0 15px;
	}

	&__wrapper,
	&__inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		transform-origin: top right;
		background-color: $light-gray;
	}

	&__wrapper {
		transform: skew(0, 3deg);
	}

	&__inner {
		transform: skew(0, -6deg);
	}

	&__articles {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 20px;

		@media (min-width: $dMin) {
			margin-top: 25px;
		}
	}

	&__button {
		width: 200px;
		height: 45px;
		margin: 0 auto;
	}

	.title {
		&__text {
			margin-bottom: 13px;
		}
	}

	.article {
		background-color: $black-23;
		margin-bottom: 25px;

		&--xsmall {
			.article__title {
				max-width: 220px;
			}
		}
	}

	&--color {
		background-color: $white;
		padding: 30px 0 60px;

		&::after {
			display: none;
		}

		.services {
			&__articles {
				margin-top: 0;
			}
		}
	}
}