.first-screen {
	width: 100%;
	position: relative;
	z-index: 1;

	&__wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		transform-origin: top right;
		transform: skew(0, 3deg);

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.6;
		}

		&::before {
			background-image: linear-gradient(to top, #491922 0%, #1e2052 100%);
		}

		&::after {
			background-color: #0e1013;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: bottom;
	}

	&__slider {
		position: relative;
	}

	&__container {
		position: relative;
		padding: 130px 20px 90px;
		z-index: 1;
		color: $white;

		@media (min-width: $d1280) {
			padding: 100px 0 250px;
		}
	}

	&__title {
		font-size: 32px;
		font-weight: 400;
		line-height: 44px;
		text-transform: uppercase;

		@media (min-width: $dMin) {
			font-size: 36px;
			line-height: 48px;
		}

		@media (min-width: $d1280) {
			font-size: 46px;
			line-height: 52px;
		}
	}

	&__advantages {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 26px 0;

		@media (min-width: $d1280) {
			flex-direction: row;
			margin: 26px 0 58px;
		}
	}

	&__advantages-col {
		display: flex;
		flex-wrap: wrap;
		margin-top: 15px;
		margin-right: -20px;
		justify-content: center;

		@media (min-width: $d1280) {
			margin-top: 0;
			margin-right: -60px;
			justify-content: flex-end;
			width: 50%;
		}
	}

	&__advantages-item {
		max-width: 130px;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
		margin-right: 20px;

		@media (min-width: $dMin) {
			max-width: 200px;
			margin-bottom: 0;
			margin-right: 60px;
		}
	}

	&__advantages-item-percent {
		font-size: 36px;
		font-weight: 400;
		line-height: 38px;
		text-transform: uppercase;

		@media (min-width: $dMin) {
			font-size: 50px;
			line-height: 52px;
		}
	}

	&__advantages-item-text {
		font-size: 16px;
		line-height: 26px;

		@media (min-width: $dMin) {
			font-size: 18px;
			line-height: 32px;
		}
	}

	&__desc {
		font-size: 16px;
		line-height: 26px;
		max-width: 922px;
		width: 100%;

		@media (min-width: $dMin) {
			font-size: 16px;
			line-height: 28px;
		}

		@media (min-width: $d1280) {
			font-size: 20px;
			line-height: 30px;
		}
	}

	&__button {
		width: 100%;
		height: 60px;
		font-size: 24px;
		border-radius: 10px;

		@media (min-width: $tMin) {
			width: 450px;
			height: 60px;
		}
	}

	&__arrow {
		width: 50px;
		height: 50px;
		border: 1px solid $white;
		border-radius: 5px;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: -19px;
		left: 0;

		span {
			position: relative;
			display: block;
			width: 11px;
			height: 11px;

			&::before,
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background-color: $white;
				position: absolute;
			}

			&::before {
				transform: rotate(-45deg);
			}

			&::after {
				top: 7px;
				transform: rotate(45deg);
			}
		}
	}

	&__arrow-next {
		left: 60px;

		span {
			left: 2px;

			&::before {
				top: 7px;
			}

			&::after {
				top: auto;
			}
		}
	}

	.custom-dots {
		display: flex;
		margin-top: 60px;
		margin-left: 127px;
	}

	&--seo-service {
		.first-screen {
			&__container {
				padding: 100px 0 40px;

				@media (min-width: $dMin) {
					padding: 160px 0 70px;
				}
			}
			
			&__title,
			&__desc {
				text-align: center;

				@media (min-width: $dMin) {
					text-align: left;
				}
			}

			&__desc {
				@media (min-width: $dMin) {
					max-width: 680px;
				}
			}

			&__button {
				font-size: 18px;
				padding: 26px 12px;
				margin: 0 auto;
				border-radius: 10px;

				@media (min-width: $dMin) {
					font-size: 24px;
					padding: 30px 56px;
					margin: 0;
				}
			}
		}
	}

	&--history {
		.first-screen {
			&__img {
				object-position: bottom;
			}
		}
	}

	&--comments {
		.first-screen {
			&__container {
				padding: 70px 0;

				@media (min-width: $tMin) {
					padding: 70px 0 90px;
				}

				@media (min-width: $dMin) {
					padding: 70px 0 170px;
				}
			}
		}
	}
}