extends layouts/default.pug
include partials/map.pug
include partials/feedback/feedback.pug
include partials/first-screen.pug
include partials/catalog/services.pug
include partials/case.pug
include partials/about.pug
include partials/clients.pug
include partials/cooperation.pug

block vars

block main
	+first-screen(index.firstScreen, 'first-screen--main')
	+services(index.services)
	+case(index.case)
	+about(index.about)
	+clients(index.clients)
	+cooperation(index.cooperation)
	+feedback(index.feedback)
	+map()