extends layouts/default.pug
include partials/map.pug
include partials/feedback/feedback.pug
include partials/first-screen.pug
include partials/title.pug
include partials/team.pug

block vars

block main
	+first-screen(teamPage.firstScreen)
	+title(teamPage.title, 'title--team')
	+team(teamPage.team)
	+feedback(teamPage.feedback)
	+map()
