include ../components/container
include title
include ../components/picture

mixin cooperation(data)
	.cooperation
		+title(data.title)
		.cooperation__tab-content
			+container('cooperation__container-bottom')
				.cooperation__steps
					each step, index in data.steps
						.cooperation__step&attributes(step.active)
							.cooperation__step-num= step.num
							.cooperation__step-text= step.text
						.cooperation__content&attributes(data.contents[index].active)
							.cooperation__wrapper
								.cooperation__left
									.cooperation__title= data.contents[index].subtitle
									ul.cooperation__list
										each item in data.contents[index].list
											li.cooperation__list-item!= item
								.cooperation__right
									+picture(data.contents[index].img, 'cooperation__img')