include ../components/container.pug
include ../components/button.pug

mixin first-screen(data, classMod)
	.first-screen(class= classMod)
		.first-screen__wrapper
			if data.img
				+picture(data.img, 'first-screen__img')
		+container('first-screen__container')
			.first-screen__slider
				each slide in data.slides
					.first-screen__slide
						.first-screen__title= slide.title
						.first-screen__advantages
							.first-screen__desc= slide.desc
							if slide.advantages
								.first-screen__advantages-col
									each item in slide.advantages
										.first-screen__advantages-item
											.first-screen__advantages-item-percent= item.percent
											.first-screen__advantages-item-text= item.text
						if slide.button
							+button(slide.button, 'first-screen__button')
