mixin map(data)
	.map
		script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af28e473c2d02da976a9db0e04fc47ca0770ed4d0d3d34e8a3a8aa82a387dc010&amp;width=100$&amp;height=100%&amp;lang=ru_RU&amp;scroll=true")