include ../components/container.pug
include ../components/breadcrumbs.pug
include ../components/button.pug

mixin title(data, mod)
	.title(class=mod)
		+container()
			if data.breadcrumbs
				+breadcrumbs(data.breadcrumbs)
			.title__text= data.text
			if data.subtitle
				.title__subtitle= data.subtitle
			if data.tags
				.title__tags
					each tag, i in data.tags
						if i === 0
							+button(tag, 'title__tag title__tag--active')
						else
							+button(tag, 'title__tag')