// Fonts
$gilroy: 'Gilroy', sans-serif;

// Colors
$white: #fff;
$light-gray: #f1f3f8;
$gray: #b5b8c0;
$dark-gray: #35303c;
$light-black: #212224;
$black: #000;
$red: #dd2036;

// Breakpoints
$m320: 320px;
$tMin: 768px;
$dMin: 1280px;