// Fonts
$gilroy: 'Gilroy', sans-serif;

// Colors
$white: #fff;
$light-gray: #f1f3f8;
$gray-fe: #fefefe;
$gray-e2: #e2e3e6;
$gray-e4: #e4e7ee;
$gray-c3: #c3c4ce;
$gray-ca: #cacbd4;
$gray-c8: #c8c9d2;
$gray: #b5b8c0;
$gray-tag-light: #aeb1b8;
$gray-95: #95a5a6;
$gray-tag-dark: #6e7279;
$gray-40: #404045;
$gray-44: #443f4a;
$gray-48: #484a4e;
$dark-gray: #35303c;
$light-black: #212224;
$black-23: #23212a;
$black: #000;
$red: #dd2036;
$bright-red: #c80d10;
$blue: #31374d;


// Breakpoints
$m320: 320px;
$tMin: 768px;
$dMin: 1000px;
$d1280: 1280px;