// Fonts
$gilroy: 'Gilroy', sans-serif;

// Colors
$white: #fff;
$light-gray: #f1f3f8;
$gray-fe: #fefefe;
$gray-e2: #e2e3e6;
$gray: #b5b8c0;
$gray-tag-light: #aeb1b8;
$gray-tag-dark: #6e7279;
$gray-40: #404045;
$dark-gray: #35303c;
$light-black: #212224;
$black-23: #23212a;
$black: #000;
$red: #dd2036;
$blue: #31374d;


// Breakpoints
$m320: 320px;
$tMin: 768px;
$dMin: 1280px;