.container {
	max-width: 1260px;
	margin: 0 auto;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	line-height: 18px;
	color: $white;
	height: 35px;
	padding: 10px 28px 12px 27px;
	border-radius: 5px;
	background-color: $red;
	cursor: pointer;
	position: relative;

	&--arrow {
		padding: 10px 41px 9px 23px;
		box-shadow: 0 6px 10px rgba(221, 32, 54, 0.2);

		span {
			position: relative;
			display: block;

			&::before,
			&::after {
				content: '';
				display: block;
				width: 8px;
				height: 2px;
				background-color: $white;
				position: absolute;
				right: -16px;
			}

			&::before {
				top: 68%;
				transform: translate(0, -68%) rotate(-45deg);
			}

			&::after {
				top: 44%;
				transform: translate(0, -44%) rotate(45deg);
			}
		}
	}
}

.input {
	width: calc(100% - 32px);
	background-color: $light-gray;
	border-radius: 5px;
	padding: 13px 16px;

	&::-webkit-input-placeholder {
		opacity: 1;
		transition: opacity 0.3s ease;
	}

	&::-moz-placeholder {
		opacity: 1;
		transition: opacity 0.3s ease;
	}

	&:-moz-placeholder {
		opacity: 1;
		transition: opacity 0.3s ease;
	}

	&:-ms-input-placeholder {
		opacity: 1;
		transition: opacity 0.3s ease;
	}

	&::placeholder {
		font-family: $gilroy;
		font-size: 16px;
		font-weight: 300;
		color: $gray-tag-dark;
		opacity: 1;
		transition: opacity 0.3s ease;
	}

	&:focus::-webkit-input-placeholder {
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	&:focus::-moz-placeholder {
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	&:focus:-moz-placeholder {
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	&:focus:-ms-input-placeholder {
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	&:focus::placeholder {
		opacity: 0;
		transition: opacity 0.3s ease;
	}
}

.breadcrumbs {
	display: flex;

	li {
		margin-right: 30px;

		&:not(:last-child) {
			position: relative;
			display: block;

			&::before,
			&::after {
				content: '';
				display: block;
				width: 8px;
				height: 2px;
				background-color: $gray-95;
				position: absolute;
				right: -21px;
			}

			&::before {
				top: 68%;
				transform: translate(0, -68%) rotate(-45deg);
			}

			&::after {
				top: 44%;
				transform: translate(0, -44%) rotate(45deg);
			}
		}
	}

	&__link {
		color: $gray-tag-dark;

		&--active {
			color: $red;
			text-decoration: underline;
		}
	}
}
