.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $light-gray;
	z-index: 10;

	&__container {
		display: none;

		@media (min-width: $d1280) {
			display: block;
		}
	}

	&__outer-wrapper {
		display: flex;
		justify-content: space-between;
		padding: 18px;
		position: relative;

		@media (min-width: $d1280) {
			display: block;
			padding: 39px;
		}
	}

	&__logo {
		@media (min-width: $d1280) {
			position: absolute;
			top: 11px;
			left: 22px;
		}

		svg {
			&:first-child {
				display: none;

				@media (min-width: $d1280) {
					display: block;
					width: 184px;
					height: 70px;
				}
			}

			&:last-child {
				width: 117px;
				height: 35px;

				@media (min-width: $d1280) {
					display: none;
				}
			}
		}
	}

	&__menu-list {
		display: flex;
	}

	&__menu-link {
		a {
			transition: color .3s ease;

			&:hover {
				color: $red;
			}
		}

		&:not(:last-child) {
			margin-right: 42px;
		}
	}

	&__contacts,
	&__contact-link {
		display: flex;
		align-items: center;
		
		@media (min-width: $d1280) {
			position: absolute;
			top: 20px;
			right: 34px;
		}
	}

	&__contact-link {
		display: flex;
		justify-content: center;
		width: 35px;
		height: 35px;
		background-color: $red;
		border-radius: 5px;
		margin-left: 7px;
		transition: color .3s ease;

		@media (min-width: $d1280) {
			width: 100%;
			height: auto;
			right: 415px;
			background-color: $light-gray;
			margin-left: 0;
			transition: color .3s ease;
		}

		&:nth-child(2) {
			@media (min-width: $d1280) {
				font-size: 18px;
				right: 217px;
			}
		}

		&:hover {
			color: $red;
		}

		picture {
			@media (min-width: $d1280) {
				margin-right: 11px;
			}
		}

		p {
			display: none;

			@media (min-width: $d1280) {
				display: block;
			}
		}
	}

	&__buttons {
		display: none;
		text-align: center;

		@media (min-width: $d1280) {
			display: block;
		}

		a {
			color: $red;
			border-bottom: 1px solid $red;
			transition: border-bottom-color .2s ease;

			&:hover {
				border-bottom-color: transparent;
			}
		}
	}

	&__callme {
		margin-bottom: 7px;
	}

	&__hamburger {
		position: relative;
		display: inline-block;
		min-width: 30px;
		height: 20px;
		margin-left: 25px;
		cursor: pointer;

		@media (min-width: $d1280) {
			display: none;
		}

		span {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-right: -50%;
			transform: translate(-50%, -50%);
			width: 30px;
			height: 3px;
			background-color: $red;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: $red;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}
	}
}

.header-mobile-nav {
	display: none;
}