.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $light-gray;
	z-index: 10;

	&__container {
	    display: flex;
	    flex-direction: column;
	    align-items: flex-end;
	    justify-content: center;
	    height: 100%;

	    @media (min-width: 1500px) {
        	flex-direction: row;
        	align-items: center;
        	justify-content: space-between;
        }
	}

	&__outer-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 18px;
		position: relative;
		height: 65px;
		box-sizing: border-box;

		@media (min-width: $dMin) {
		    height: 97px;
			padding: 0 280px 0 220px;
		}

		@media (min-width: $d1280) {
        	padding: 0 220px;
        }
	}

	&__logo {
		@media (min-width: $dMin) {
			position: absolute;
			top: 11px;
			left: 22px;
		}

		svg {
			&:first-child {
				display: none;

				@media (min-width: $dMin) {
					display: block;
					width: 184px;
					height: 70px;
				}
			}

			&:last-child {
				width: 117px;
				height: 35px;

				@media (min-width: $dMin) {
					display: none;
				}
			}
		}
	}

	&__menu-list {
		display: none;

		@media (min-width: 1200px) {
        	display: flex;
        	align-items: center;
        	height: 100%;
        }
	}

	&__menu-link {
	    display: flex;
        align-items: center;
	    height: inherit;
	    padding: 0 21px;
	    position: relative;

	    &:first-child {
	        padding-left: 0;
	    }

	    &:last-child {
	        padding-right: 0;
	    }

	    &:hover {
	        .header__submenu-list {
	            opacity: 1;
	            visibility: visible;
	        }
	    }

		a {
		    display: flex;
		    align-items: center;
		    height: inherit;
			transition: color .3s ease;

			&:hover {
                color: $red;
            }
		}
	}

	&__submenu-list {
	    min-width: 240px;
	    position: absolute;
	    top: calc(100% - 3px);
	    left: 0;
	    z-index: 11;
	    border-radius: 5px;
	    background-color: $white;
	    border: 1px solid #e6e6e6;
	    opacity: 0;
	    visibility: hidden;
	    box-sizing: border-box;
	    transition: opacity 0.1s linear;

	    > li {
	        &:first-child {
                &::before {
                    content: '';
                    display: block;
                    width: 15px;
                    height: 15px;
                    background-color: $white;
                    position: absolute;
                    top: -9px;
                    left: 20px;
                    transform: rotate(45deg);
                    border-top: 1px solid #e6e6e6;
                    border-left: 1px solid #e6e6e6;
                    transition: background-color 0.3s ease;
                }

                &:hover::before {
                    background-color: $light-gray;
                }
            }

            &:hover {
                background-color: $light-gray;
            }
	    }

	    li {
	        display: flex;
	        justify-content: space-between;
	        align-items: center;
	        transition: background-color 0.3s ease;

	        &:hover {
	            svg {
	                fill: $red;
	            }

	            .header__second-submenu-list {
                    opacity: 1;
                    visibility: visible;
                }
	        }

	        a {
	            padding: 12px 42px 12px 17px;
	        }

	        svg {
                width: 25px;
                height: 25px;
	            fill: $gray-ca;
	            margin-right: 13px;
                transition: fill 0.3s ease;
	        }
	    }
	}

	&__second-submenu-list {
	    display: flex;
	    flex-wrap: wrap;
	    flex-direction: row;
	    min-width: 540px;
	    padding: 15px;
	    position: absolute;
	    top: 0;
	    left: 100%;
	    z-index: 11;
	    border-radius: 0 3px 3px 0;
	    background-color: $white;
	    border: 1px solid #e6e6e6;
	    box-sizing: border-box;
	    opacity: 0;
        visibility: hidden;
	    transition: opacity 0.1s linear;

	    @media (min-width: 1200px) and (max-width: 1499px) {
            flex-direction: column;
            min-width: 240px;
        }

        .bold {
            font-weight: bold;
        }
	}

	&__link-group {
	    width: 50%;

	    @media (min-width: 1200px) and (max-width: 1499px) {
            width: 100%;
        }
	}

	&__nav {
		display: flex;
		align-items: center;
		
		@media (min-width: $dMin) {
			position: absolute;
			top: 20px;
			right: 34px;
		}
	}

	&__contacts {
	    display: flex;

	    @media (min-width: 1200px) and (max-width: 1499px) {
             margin-bottom: 20px;
        }
	}

	&__contact-link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 35px;
		height: 35px;
		background-color: $red;
		border-radius: 5px;
		margin-left: 7px;
		transition: color .3s ease;

		@media (min-width: $dMin) {
		    width: auto;
			height: auto;
			background-color: $light-gray;
			margin-left: 0;
			transition: color .3s ease;
		}

		&:nth-child(2) {
			@media (min-width: $dMin) {
				font-size: 18px;
				margin-left: 30px;
			}
		}

		&:hover {
			color: $red;
		}

		picture {
			@media (min-width: $dMin) {
				margin-right: 11px;
			}
		}

		p {
			display: none;

			@media (min-width: $dMin) {
				display: block;
			}
		}
	}

	&__buttons {
		display: none;
		text-align: center;

		@media (min-width: $dMin) {
			display: block;
		}

		a {
			color: $red;
			border-bottom: 1px solid $red;
			transition: border-bottom-color .2s ease;

			&:hover {
				border-bottom-color: transparent;
			}
		}
	}

	&__callme {
		margin-bottom: 7px;
	}

	&__hamburger {
		position: relative;
		display: inline-block;
		min-width: 30px;
		height: 20px;
		margin-left: 25px;
		cursor: pointer;

		@media (min-width: $d1280) {
			display: none;
		}

		span {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-right: -50%;
			transform: translate(-50%, -50%);
			width: 30px;
			height: 3px;
			background-color: $red;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: $red;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}
	}
}

.header-mobile-nav {
	width: 100%;
	height: 100vh;
	background-color: $dark-gray;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(100%);
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.3s ease;
	overflow-y: auto;
	overflow-x: hidden;

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 17px 23px;

		svg {
			width: 117px;
			height: 35px;
		}
	}

	&__close {
		width: 21px;
		height: 21px;
		position: relative;
		cursor: pointer;

		span {
			&::before,
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background-color: $gray;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

			&::before {
				transform: rotate(-45deg);
			}

			&::after {
				transform: rotate(45deg);
			}
		}
	}

	&__menu-list {
	    opacity: 0;
	    transition: transform 0.3s ease, opacity 0.3s ease;
	}

	&__menu-item {
		border-bottom: 1px solid $gray-44;

		&:first-child {
			border-top: 1px solid $gray-44;
		}

		a:not(.header-mobile-nav__menu-item-text) {
			display: flex;
			align-items: center;
			width: 100%;
			padding: 14px 23px;
			color: $white;
		}
	}

	&__row {
	    display: flex;
	}

	&__menu-item-text {
		display: block;
		width: calc(100% - 47px);
		padding: 14px 23px;
		color: $white;
		box-sizing: border-box;
	}

	&__item-contact {
		transition: background-color 0.3s ease;

		&:hover {
			background-color: $bright-red;
		}
	}

	&__icon-wrapper {
		min-width: 18px;
		margin-right: 12px;

		&--big {
			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	&__submenu-list {
		display: none;
		padding: 8px 0;
		background-color: #232127;
	}

	&__submenu-item {
	    display: flex;
	    justify-content: space-between;
	}

	&__second-submenu-list {
        width: 100%;
        height: 100vh;
        background-color: $dark-gray;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    &__next-menu,
    &__prev-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 47px;
        width: 100%;
        height: 47px;
        cursor: pointer;

        svg {
            width: 50%;
            height: 50%;
            fill: $gray;
        }
    }

    &__prev-menu {
        max-width: 40px;
        width: 100%;
        height: 19px;
        margin-left: -16px;

        svg {
            width: 100%;
            height: 100%;
            transform: rotate(180deg);
        }
    }

    &__back {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 1px solid $gray-44;
        border-bottom: 1px solid $gray-44;
        cursor: pointer;
    }

    &__link-group-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @media (min-width: $tMin) {
            flex-direction: row;
        }
    }

    &__link-group {
        width: 100%;
        margin-bottom: 20px;

        @media (min-width: $tMin) {
            width: 50%;
        }

        .bold {
            font-weight: bold;
        }
    }

	&__show-btn {
		display: flex;
		justify-content: flex-end;
		width: 47px;
		height: 47px;
		cursor: pointer;
	}

	&__show-btn-wrapper {
		background-color: $gray-44;
		width: 47px;
	}

	&__arrow {
		position: relative;
		display: block;
		height: 100%;
		transition: transform 0.3s ease;

		&::before,
		&::after {
			content: '';
			display: block;
			width: 10px;
			height: 2px;
			background-color: $gray;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		&::before {
			left: 15px;
			transform: rotate(45deg);
		}

		&::after {
			right: 15px;
			transform: rotate(-45deg);
		}

		&--rotate {
			transform: rotate(180deg);
		}
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 40px 0;
	}

	&__contact-link {
		display: flex;

		img {
			margin-right: 8px;
		}

		p {
			font-size: 24px;
			color: $white;
		}
	}

	&__socials {
		display: flex;
		margin-top: 22px;
	}

	&__socials-icon:not(:last-child) {
		margin-right: 18px;
	}
}