include ../../components/container.pug
include ../../components/picture.pug
include form.pug

mixin feedback(data)
	.feedback
		.feedback__wrapper
			if data.img
				+picture(data.img, 'feedback__img')
		+container('feedback__container')
			+form(data.form, 'feedback__form')
			.feedback__info
				.feedback__title= data.info.title
				.feedback__desc!= data.info.desc
				.feedback__privacy= data.info.privacy