include ../../components/input.pug

mixin form(data, className)
	.form(class= className)
		.form__title= data.title
		.form__subtitle= data.subtitle
		form(action='/' method='POST')
			each input in data.inputs
				+input(input)
			input.form__button(type='submit', value= data.submit)
