.cooperation {
	&__container {
		position: relative;
	}

	&__steps {
		display: flex;
		position: absolute;
		left: 0;
		top: 28px;
		z-index: 1;
		border-bottom: 1px solid $red;
	}

	&__step {
		width: 100%;
		max-width: 252px;
		display: flex;
		padding: 20px 30px;
		border: 1px solid $gray-c8;
		background-color: $white;
		border-bottom: none;
		align-items: center;
		margin-right: -1px;
		cursor: pointer;

		&--active {
			border: 1px solid $red;
			background-color: $red;

			.cooperation__step-num,
			.cooperation__step-text {
				color: #fff;
			}
		}
	}

	&__step-num {
		font-size: 52px;
		font-weight: 400;
		color: $gray-ca;
		margin-right: 18px;
	}

	&__step-text {
		font-size: 18px;
		color: $gray-tag-dark;
	}

	&__content {
		display: none;

		&--active {
			display: block;
		}
	}

	&__tab-content {
		background-color: $light-gray;
		position: relative;
		padding: 95px 0 65px;
		margin-top: 80px;

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 90px;
			position: absolute;
			left: 0;
			bottom: -90px;
			background-color: $light-gray;
		}
	}

	&__container-bottom {
		display: flex;
	}

	&__left {
		max-width: 685px;
		margin-right: 100px;
	}

	&__title {
		font-size: 24px;
		line-height: 32px;
		color: $light-black;
		text-transform: uppercase;
	}

	&__list {
		margin-top: 40px;
	}

	&__list-item {
		position: relative;
		color: $gray-48;
		margin-left: 15px;

		&::before {
			content: '';
			display: block;
			width: 5px;
			height: 5px;
			background-color: $red;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -15px;
		}

		&:not(:last-child) {
			margin-bottom: 15px;
		}

		a {
			color: $red;
			border-bottom: 1px solid transparent;
			transition: border-bottom-color 0.3s ease;

			&:hover {
				border-bottom: 1px solid $red;
			}
		}
	}
}