.red-square-list {
	ul {
		margin-top: 25px;
		color: #212224;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;

		li {
			position: relative;
			padding-left: 16px;

			&::before {
				position: absolute;
				top: 10px;
				left: 0;
				display: block;
				width: 5px;
				min-width: 5px;
				height: 5px;
				content: '';
				background-color: #dd2036;
			}
		}

		li+li {
			margin-top: 8px;
		}

		&+p {
			margin-top: 29px;
		}

		&+ul {}
	}
}

.bi-pts-content--caseitem {
	position: relative;
	z-index: 3;
	padding-top: 100px;
	padding-bottom: 220px;
}

.project-info-block {
	margin-top: 49px;
}

.ci-h2 {
	display: block;
	text-transform: uppercase;
	color: #212224;
	font-size: 36px;
	font-weight: 400;
}

.projinf-flex {
	display: flex;
	margin-top: 39px;
	margin-bottom: 34px;
	padding-bottom: 40px;
	border-bottom: 1px solid #e4e7ee;
}

.projinf-logo-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 297px;
	min-width: 297px;
	min-height: 220px;
	margin-right: 25px;
	padding: 20px 41px;
	border: 1px solid #e4e7ee;
	background-color: #ffffff;

	&:hover {}

	&:active {}

	&:focus {}
}

.projinf-logo {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 500px;
	object-fit: contain;
}

.projinf-client-description {
	&__title {
		margin-top: 6px;
		color: #212224;
		font-size: 24px;
		font-weight: 400;
	}

	&__text {
		margin-top: 19px;
		color: #212224;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
	}
}

.projinf-client-flex {
	display: flex;
	flex-wrap: wrap;
	margin-top: 36px;
	margin-left: 3px;
}

.projinf-client-flex-item {
	display: flex;
	flex-direction: column;
	min-width: 108px;
	margin-right: 65px;
	margin-bottom: 20px;

	&__top {
		flex-grow: 1;
		color: #6e7279;
		font-size: 14px;
		font-weight: 300;
	}

	&__bottom {
		margin-top: 1px;
		color: #212224;
		font-size: 17px;
		font-weight: 300;
	}

	a {
		text-decoration: underline;
		color: #dd2036;
		font-family: Gilroy;
		font-size: 18px;
		font-weight: 300;

		&:hover {}

		&:active {}

		&:focus {}
	}
}

.projinf-targets-wrap {}

.projinf-targets-title {
	color: #212224;
	font-size: 24px;
	font-weight: 400;
}

.projinf-targets-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 28px;
}

.projinf-target {
	display: flex;
	align-items: center;
	width: calc(25% - 26px * 3 / 4);
	margin-bottom: 20px;

	&__pic-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 63px;
		min-width: 63px;
		height: 63px;
		margin-right: 18px;

		img {
			display: block;
			width: 100%;
			height: 100%;
			height: auto;
			object-fit: contain;
		}
	}

	&__text {
		color: #212224;
		font-size: 16px;
		font-weight: 300;
		line-height: 22px;
	}
}

.ci-results-section {
	margin-top: 102px;
}

.ci-results-title-wrap {}

.ci-results-title {}

.ci-results-block {
	position: relative;
	z-index: 1;
}

.ci-results-bbg {
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
	transform: skew(0, -3deg);
	transform-origin: top right;
}

.ci-results-bbg__inner {
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
	transform: skew(0, 6deg);
	transform-origin: bottom right;

	img {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}

.ci-results-block__container {
	position: relative;
	z-index: 2;
	padding-top: 25px;
	padding-bottom: 28px;
}

.ci-result-slider__wrap {
	box-sizing: border-box;
	width: 618px;
	max-width: 100%;
	padding: 67px 60px 86px;
	border: 1px solid #e4e7ee;
	background-color: #ffffff;
}

.ci-result-slider {}

.slider-dots-style-1 {
	.slick-dots {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-top: 84px;
		padding-left: 127px;

		li {
			box-sizing: border-box;
			width: 15px;
			height: 15px;
			margin-top: 0;
			padding: 0;
			list-style: none;
			border: 1px solid #c3c4ce;
			border-radius: 50%;
			cursor: pointer;

			&::before {
				display: none;
			}

			button {
				display: none;
			}

			&:not(:last-child) {
				margin-right: 9px;
			}

			&.slick-active {
				border: 1px solid #dd2036;
				background-color: #dd2036;
			}
		}
	}
}

.ci-result-slide {
	h3 {
		margin-bottom: 17px;
		color: #212224;
		font-size: 28px;
		font-weight: 400;
	}

	p {
		color: #212224;
		font-size: 18px;
		font-weight: 300;
		line-height: 28px;

		&+p,
		&+ul {
			margin-top: 20px;
		}
	}

	ul {

		&+p,
		&+ul {
			margin-top: 29px;
		}
	}

	ul li+li {
		margin-top: 5px;
	}

	li {}
}


.ci-results-arrow {
	position: absolute;
	width: 50px;
	height: 50px;
	border: 1px solid #c3c4ce;
	border-radius: 5px;
	box-sizing: border-box;
	cursor: pointer;
	bottom: -17px;
	transition-duration: .2s;
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		display: block;
		width: 32px;
		height: 33px;
	}

	&--prev {
		left: 0;
	}

	&--next {
		left: 59px;
	}

	&:hover {
		background: lighten(#c3c4ce, 15%)
	}
}

.ci-features-block {
	margin-top: 69px;
	margin-bottom: 26px;
}

.bi-main-rows-wrap--ci-features {
	margin-top: 23px;
}



//////////////////////////

.similar-cases-section {

	position: relative;
	z-index: 1;

}

.simcas-bg {

	position: absolute;
	z-index: 1;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
	transform-origin: top right;

	.simcas-bg-inner {
		background-color: #f1f3f8;
		position: absolute;
		z-index: 1;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		height: 100%;
		transform: skew(0, -3deg);
		transform-origin: bottom right;
	}
}

.simcas-container {
	padding-top: 133px;
	padding-bottom: 19px;
	z-index: 2;
	position: relative;

	.ci-h2 {}

}

.simcas-block {
	margin-top: 22px;
}

.simcas-item {
	width: 100%;
	display: flex;
	margin-bottom: 48px;
	background-color: #ffffff;

	&:nth-child(2n-1) .simcas-item-text {
		border-right: 0;
	}

	&:nth-child(2n) .simcas-item-text {
		border-left: 0;
		order: 10;
	}
}

.simcas-item-text {
	min-height: 499px;
	box-sizing: border-box;
	border: 1px solid #e4e7ee;
	width: 426px;
	padding: 40px 62px 43px 55px;

	&__site {
		color: #dd2036;
		font-size: 18px;
		font-weight: 300;
		text-decoration: underline;
	}

	&__title {
		margin-top: 13px;
		color: #212224;
		font-size: 36px;
		font-weight: 400;
		line-height: 36px;
		text-transform: uppercase;
	}

	&__subtitle {
		color: #212224;
		margin-top: 8px;
		font-size: 22px;
		font-weight: 300;
	}

	&__h4 {
		color: #212224;
		font-size: 24px;
		font-weight: 400;
		line-height: 24px;
		margin-top: 25px;
	}

	&__p {
		color: #212224;
		margin-top: 9px;
		font-size: 18px;
		font-weight: 300;
		line-height: 28px;
	}

}

.button--simcas-more {
	width: 201px;
	margin-top: 24px;
	height: 45px;
}

.simcas-item-advantages {
	width: calc(100% - 426px);
	box-sizing: border-box;
	padding: 30px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.simcas-item-advantages__content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding-top: 60px;
	padding-bottom: 13%;
	box-sizing: border-box;
}

.simcas-advantages__type {
	position: absolute;
	padding: 9px 22px;
	right: 0px;
	top: 0px;
	border-radius: 5px;
	background-color: #dd2036;
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
}

.simcas-advantages__logo {
	margin: 0 auto 13px;

	img {}
}

.simcas-advantages__actions {
	color: #ffffff;
	font-size: 20px;
	font-weight: 300;
	line-height: 34px;
	text-align: center;
}

.simcas-advantages__results-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 24px;
}

.simcas-advantages-result {
	text-align: center;

	color: #ffffff;
	font-size: 18px;
	margin: 0 24px;
	max-width: 205px;
	font-weight: 300;
	line-height: 21.86px;
	margin-bottom: 10px;
}

.simcas-advantages-result__percent {
	font-size: 50px;
	line-height: 1;
	font-weight: 400;
	text-transform: uppercase;
}

.simcas-advantages-result__type {margin-top: 10px;}


.feedback--caseitemp{
	background-color: #f1f3f8;
}

.feedback-btn-submit--caseitem{
	margin-top: 33px !important;font-weight: 300;
}
.feedback__form--caseitem{
	padding-bottom: 59px !important;
}

.feedback__desc--caseitem {
    padding: 17px 0 32px;
}