include ../partials/catalog/article.pug
include container.pug
include button.pug

mixin bipInteresting(data)

	.bip-interesting
		.bip-interesting-bg
		+container('bip-interesting-container')
			h2.bip-interesting-title Вам будет интересно
			.bip-interesting-row
				each article in data.articles
					+article(article)