mixin blogitemPageMain()
	.blogitem-page-main

			.bi-main-date 24 апреля 2020 г.
			.bi-main-rows-wrap
				.bi-main-row
					.bi-main-row__content.bi-main-text-style
						h2 Распределите приоритеты
						p Чем больше направлений услуг и категорий продуктов вы продвигаете, тем больше расходов. Подумайте: все ли они вам сейчас нужны? Что пользуется спросом кризис, а что — нет? Поставьте себя на место покупателей, проведите маркетинговый анализ, обратите внимание на конкурентов, и выявите наиболее приоритетные категории товаров и услуг.
						p В условиях кризиса люди обращают больше всего внимания на более бюджетные и надежные, практичные варианты из ассортимента. Определите их — и сосредоточьте усилия на продвижении именно тех товаров, которые сейчас актуальны.
					.bi-main-row__sidebar
				.bi-main-row
					.bi-main-row__content.bi-main-text-style
						h2 Выберите надежного подрядчика
						p В кризис нельзя себе позволить тратить бюджеты и время на непрофессиональных оптимизаторов. Продвижение требует больших затрат и бюджета, и времени, и цена ошибки становится слишком высока. Выбирать подрядчика стоит последовательно, по этапам.
						p Сначала составьте предварительный список. Попросите рекомендации ваших друзей, знакомых и деловых партнеров, проверьте, кто продвигает ваших прямых конкурентов, посмотрите отраслевые рейтинги и публикации в отраслевых СМИ. Сразу отсеивайте агентства, которые работали с принципиально другими проектами: продвижение небольших сайтов и порталов идет по-разному.
						p Выберите 10-15 претендентов и проанализируйте:
						ul
							li Как давно каждое из агентств существует на рынке?
							li Какой подход они используют в работе и пропагандируют?
							li Сколько специалистов входит в проектную команду?
							li Что в кейсах и портфолио (на чем они специализируются, есть ли опыт продвижения в вашей отрасли, работают ли они в основном с крупными или с мелкими клиентами)?
							li Есть ли у них свои технологии, которые помогут улучшить или автоматизировать работу?
							li Какая у них ценовая политика?
							li Какие о них существуют отзывы?
							li Судится ли с ними кто-то из бывших клиентов? Проверить это можно, например, на сайте kad.arbitr.ru.
							li Пишут ли сотрудники агентства экспертные статьи в отраслевых СМИ?
						p На основе ответов на эти вопросы можно выбрать 2-3 лучших для вас агентства и начать с ними переговоры. Обязательно спросите менеджера, как именно они добивались успеха с предыдущими проектами: что именно делали они, а что — клиент; как вели отчетность; как часто отслеживали работу конкурентов; какими были цели и задачи на старте и какими — результаты.
						img(src="img/blogitem-page/bip-graph.jpg", alt="")
					.bi-main-row__sidebar
						.bi-main-sidebar-item
							.bi-main-sidebar-item__tags Маркетинг, Оптимизация
							.bi-main-sidebar-item__title Оптимизация бюджета интернет-магазина в кризис
							a.bi-main-sidebar-item__more(href="") Подробнее
				.bi-main-row
					.bi-main-row__content.bi-main-text-style
						h2 Не ограничивайтесь продвижением своего сайта
						p В большинстве отраслей до 80% поисковой выдачи занимают сервисы поисковиков и агрегаторы. Пытаться бороться с ними чаще всего означает получать только крохи трафика. Мы советуем работать со всем поисковым пространством: с сервисами Яндекса, агрегаторами, маркетплейсами, колдунщиками, и в том числе с топовыми сайтами поисковой выдачи.
						ul
							li Заведите аккаунты на всех отраслевых агрегаторах и обратите особое внимание на те, что выходят в топ-10 поисковой выдачи по вашим целевым запросам.
							li Подключите Яндекс.Дзен, Кью, Маркет или Услуги.
							li Контролируйте свой рейтинг на сайтах отзовиков.
							li Занимайтесь развитием рейтинга на Яндекс.Картах, Google Maps и 2Gis.
							li Публикуйте экспертные материалы в популярных СМИ.
						p Ваша цель — привлечь как можно больше пользователей из любых источников, не ограничиваясь только своим сайтом.


						.bi-main-after-rows
							.bi-main-after-rows__tags
								a(href="") SEO,
								a(href="") факторы ранжирования,
								a(href="") Яндекс,
								a(href="") Google
							.bi-main-after-rows__date 24 апреля 2020 г.


					.bi-main-row__sidebar
						.bi-main-sidebar-item
							.bi-main-sidebar-item__tags SEO, Оптимизация
							.bi-main-sidebar-item__title Кто дает гарантии в seo Исследование 300 агенств
							a.bi-main-sidebar-item__more(href="") Подробнее

