mixin breadcrumbs(links, className)
	nav.breadcrumbs(class= className)

		each link, i in links
			li
				if i != links.length-1
					a.breadcrumbs__link(href=link.href)= link.title
					.breadcrumbs__arrow
				else
					span.breadcrumbs__link.breadcrumbs__link--span= link.title