
mixin followOurNews()
	.folon-block
		.folon-bg
			.folon-bg-l-2
				img(src="img/blogitem-page/BlogItem_Page-cf-bg.jpg", alt="")
		.container.folon-main
			form.folon-form(action="")
				.folon-form__title Следите за нашими новостями
				.folon-form__text Подпишитесь на рассылку, и мы будем приглашать вас на наши мероприятия и делиться советами экспертов компании. Рассылка «Практика интернет-маркетинга» выходит дважды в месяц, в ней мы публикуем статьи о продвижении брендов в Интернете, делимся репортажами с крупных отраслевых событий и отвечаем на вопросы читателей.
				.folon-form__flex-ib
					input.folon-input(type="text", name="" placeholder="Email" )
					button.button.folon-button Подписаться
				.folon-form__privacy Нажимая на кнопку «Подписаться», вы даете согласие на обработку своих персональных данных.